@model IEnumerable<TP3.Models.Cinema.Movie>

@{
    ViewData["Title"] = "SearchByGenre";
}

<h1>SearchByGenre</h1>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("Genre") <br />
        <input type="submit" value="genre" class="btn mt-3 btn-primary"/>
    </p>
}

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerId)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
